/* 自定義頁面字體 */

@import url('https://fonts.loli.net/css2?family=Noto+Sans+HK:wght@400;700&display=swap');
@import url('https://fonts.loli.net/css2?family=Noto+Sans+SC:wght@400;700&display=swap');
@import url('https://fonts.loli.net/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

@import url('https://chinese-fonts-cdn.deno.dev/packages/jhlst/dist/%E4%BA%AC%E8%8F%AF%E8%80%81%E5%AE%8B%E4%BD%93v2_002/result.css'); /* 全站使用「中文網字計劃」流量的京華老宋体v2_002 KingHwa_OldSong */

@import url('https://chinese-fonts-cdn.deno.dev/packages/yozai/dist/Yozai-Bold/result.css'); /* 使用 Yozai 700 作爲默認粗體 */
@import url('https://chinese-fonts-cdn.deno.dev/packages/ToneOZ-Pinyin-WenKai/dist/ToneOZ-Pinyin-WenKai-Bold/result.css'); /* 使用 ToneOZ-Pinyin-WenKai-Regular 作爲默認拼音字體 */



@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('https://lib.baomitu.com/fonts/noto-sans/noto-sans-regular.woff2') format('woff2'),
       url('https://lib.baomitu.com/fonts/noto-sans/noto-sans-regular.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('https://lib.baomitu.com/fonts/stix-two-text/stix-two-text-600italic.woff2') format('woff2'),
  url('https://lib.baomitu.com/fonts/stix-two-text/stix-two-text-600italic.woff') format('woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('https://lib.baomitu.com/fonts/noto-sans/noto-sans-700.woff2') format('woff2'),
       url('https://lib.baomitu.com/fonts/noto-sans/noto-sans-700.woff') format('woff');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('https://lib.baomitu.com/fonts/stix-two-text/stix-two-text-700italic.woff2') format('woff2'),
  url('https://lib.baomitu.com/fonts/stix-two-text/stix-two-text-700italic.woff') format('woff2');
}

/*
@font-face {
  font-family: 'Font Awesome 5 Free';
  src: url(fonts/fontawesome-webfont.eot);
  src: url(fonts/fontawesome-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/fontawesome-webfont.woff2) format('woff2'),
       url(fonts/fontawesome-webfont.woff) format('woff'),
       url(fonts/fontawesome-webfont.ttf) format('truetype'),
       url(fonts/fontawesome-webfont.svg#fontawesome-webfont) format('svg');
}
*/

/* 標題樣式 */

main {
counter-reset: h1;
}

sigletitle {  /* 月份頁面的主標題樣式 */
	 margin: -.06em 0 1em 0;
         text-indent: 0rem;
         font-size: 30px;
          /* font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif; */
         text-align: center; 
	 line-height: 40px;
   padding: 9px 0px 5px 0%;
	 color: #424949;
	 display:block;
}

/* 
h1 {
	 margin: -.06em 0 0.5em 0;
         text-indent: 0rem;
         font-size: 30px;
         font-family: sans-serif;
         font-weight: bold;
         text-align: center; 
	 line-height: 40px;
	 counter-increment: section-1;
	 counter-reset: section-2 section-3 section-4;
   padding: 9px 0px 5px 0%;
	 color: #424949;
}
*/

h1 {
/* margin: 1em 0 0.8em 0; */
color: #0E6251;
font-size: 22px;
 /* font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif; */
  font-weight: bold;
  line-height: 25px;
   text-align: center; 
counter-reset : h2;
	 border-bottom: solid 3px #517a72;  
	width:7.1em;
	position: relative; 
	/*   position: absolute; */
	
}
h1:after {
  position: absolute;
  content: " ";
  display: block;
  top: 104%;
  left: 6.9px;
  border: 16px solid transparent;
  border-top: 12px solid #517a72;
  width: 0;
  height: 0;
}
/*  h1:before {  /* 在 title.html 定義以使用params */
/*  content: counter(section-1, daynum) " "; /*  SEE https://www.quackit.com/css/functions/css_counter_function.cfm  */
/* font-family: sans-serif;
font-size: 24px;
left: -8px;
font-weight: bold;
color:#042909;
text-shadow:
		1px 1px 0 #fff,
		2px 2px 0 #999; 
} /* content: "☯ " counter(section-1) " 月 " counter(section-2) " 日 "; * content: "☯ "counter(section-2)" 號 "; */ 


/* 
h2 {
/* margin: 1em 0 0.8em 0; */
/*color: #0E6251;
font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 25px;
   text-align: center; 
	counter-increment: section-2;
	counter-reset: section-3 section-4;
	 border-bottom: solid 3px #517a72;  
	width:7.7em;
	position: relative; 
	/*   position: absolute; */
/*} */
/*h2:after {
  position: absolute;
  content: " ";
  display: block;
  top: 104%;
  left: 6.9px;
  border: 16px solid transparent;
  border-top: 12px solid #517a72;
  width: 0;
  height: 0;
}
h2:before {
content: counter(section-2) "號 ";
font-family: sans-serif;
font-size: 22px;
left: -8px;
font-weight: bold;
color:#517a72;
text-shadow:
		1px 1px 0 #fff,
		2px 2px 0 #999;
} /* content: "☯ " counter(section-1) " 月 " counter(section-2) " 日 "; * content: "☯ "counter(section-2)" 號 "; */

h2 {
	margin: 0.55em 0 0.35em 0;
	color: #0E6251;
	font-size: 22px;
         /* font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif; */
        font-weight: bold;
	line-height: 23px;
counter-reset : h3;
        font-weight: normal;
}
/* h2:before {
content: counter(section-1) "." counter(section-2);
font-family: sans-serif;
font-size: 22px;
left: -8px;
font-weight: bold;
color:#517a72;
text-shadow:
		1px 1px 0 #fff,
		2px 2px 0 #999;
}*/

h3 {
	margin: 0.55em 0 0.35em 0;
	color: #424949;
        font-size: 22px;
         /* font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif; */
        font-weight: bold;
	line-height: 23px;
counter-reset : h4;
        font-weight: normal;
}
/* h3:before {
content: counter(section-1) "." counter(section-2) "." counter(section-3);
font-family: sans-serif;
font-size: 22px;
left: -8px;
font-weight: bold;
color:#517a72;
text-shadow:
		1px 1px 0 #fff,
		2px 2px 0 #999;
}*/

h4 { /* Card Title  */
        font-family: "Truetypewriter-PolyglOTT", "chdot", "Yozai Medium", "Yozai_Local", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif;
    text-shadow: 0.008em 0.008em 0.008em #666666;
	margin: 0 0 0 0;
	color: #424949;
	font-size: 27px;
	line-height: 40px;
        text-align: left;
}
h4author { /* Card Title  Author*/
        font-family: "Yozai Medium", "Yozai_Local", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif;
	color: #424949;
	font-size: 1rem;
  /* font-weight: bold; */
}
.list-toc { /* Card Title  Author*/
padding-left:0;
list-style:none;
font-size: 1.2rem;
line-height: 2rem;
  /* font-weight: bold; */
}

.list-toc-menu { /* list-toc in menu */
padding-left:0;
list-style:none;
font-size: 1.2rem;
line-height: 1.8rem;
}

sec-book-title {
        margin-left:-0.77em;
        display: inline-block;
         /* font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif; */
        font-weight: bold;
        font-size:1.25rem;
        line-height:1.25rem;
        text-align:center;
        text-justify:inter-ideograph;
        border-top:#424949 solid 2px;
	      background: #0E6251;
        color: #fff;
        border-radius: 7px 7px 0 0;
        padding: 8px 2px 4px;
}

/*h1:before {
content: counter(section-1) ". "; 
font-family: "SYHei Heavy", sans-serif;
font-weight: normal;
font-size: 37px;
} */



/* h3:before {
font-family: "SYHei Bold", sans-serif;
font-weight: normal;
content: counter(section-1) "." counter(section-2) "." counter(section-3) " ";
font-size: 22px;
} */

/* 嘗試自定義書名與副標題格式 */
.bookmaintitle {
     /* font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif; */
    /* font-weight: bold; */
    text-align: center;
    margin: 0px 0px 7px 0px;
    font-size: 2.3rem;
    line-height: 3.5rem;
}

strong {
font-family: "Truetypewriter-PolyglOTT", "chdot", "Yozai Medium", "Yozai_Local", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif;
    font-weight:bold;
    /* text-shadow: 0.001em 0.001em 0.001em #666666; /* 字體添加陰影以使得筆畫略粗 */
}
bb {
    font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif;
    font-weight:bold;
    text-shadow: 0.001em 0.001em 0.001em #666666; /* 字體添加陰影以使得筆畫略粗 */
}
bi {
font-family: "Truetypewriter-PolyglOTT", "chdot", "Yozai Medium", "Yozai_Local", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif;
    text-shadow: 0.005em 0.005em 0.005em #666666; /* 字體添加陰影以使得筆畫略粗 */
}
em {
font-family: "Truetypewriter-PolyglOTT", "chdot", "Yozai Medium", "Yozai_Local", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif;
    text-shadow: 0.007em 0.007em 0.007em #666666; /* 字體添加陰影以使得筆畫略粗 */
}
@counter-style hanenum {/* 爲 _markdown.scss 的 ol 編號列表定義樣式 1-10 漢字數字 */
  font-weight: bold;
  system: fixed;
  symbols: '㊀' '㊁' '㊂' '㊃' '㊄' '㊅' '㊆' '㊇' '㊈' '㊉' '⑪' '⑫' '⑬' '⑭' '⑮' '⑯' '⑰' '⑱' '⑲' '⑳' '㉑' '㉒' '㉓' '㉔' '㉕' '㉖' '㉗' '㉘' '㉙' '㉚' '㉛' '㉜' '㉝' '㉞' '㉟' '㊱' '㊲' '㊳' '㊴' '㊵' '㊶' '㊷' '㊸' '㊹' '㊺' '㊻' '㊼' '㊽' '㊾' '㊿';
  suffix: " ";
   /* font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif; */
}

@counter-style enumbc {/* 爲 _markdown.scss 的 ol 編號列表定義樣式 0-20 阿拉伯數字 '⓿'  */
  system: fixed;
  symbols: '⓿' '❶' '❷' '❸' '❹' '❺' '❻' '❼' '❽' '❾' '❿' '⓫' '⓬' '⓭' '⓮' '⓯' '⓰' '⓱' '⓲' '⓳' '⓴' '㉑' '㉒' '㉓' '㉔' '㉕' '㉖' '㉗' '㉘' '㉙' '㉚' '㉛' '㉜' '㉝' '㉞' '㉟' '㊱' '㊲' '㊳' '㊴' '㊵' '㊶' '㊷' '㊸' '㊹' '㊺' '㊻' '㊼' '㊽' '㊾' '㊿';
  suffix: " ";
    font-weight: bold;
     /* font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif; */
}

@counter-style enumbcw {/* 爲 _markdown.scss 的 ol 編號列表定義樣式 0-35 阿拉伯數字 '⓪'  */
  system: fixed;
  symbols: '⓪' '①' '②' '③' '④' '⑤' '⑥' '⑦' '⑧' '⑨' '⑩' '⑪' '⑫' '⑬' '⑭' '⑮' '⑯' '⑰' '⑱' '⑲' '⑳' '㉑' '㉒' '㉓' '㉔' '㉕' '㉖' '㉗' '㉘' '㉙' '㉚' '㉛' '㉜' '㉝' '㉞' '㉟' '㊱' '㊲' '㊳' '㊴' '㊵' '㊶' '㊷' '㊸' '㊹' '㊺' '㊻' '㊼' '㊽' '㊾' '㊿';
  suffix: " ";
    font-weight: bold;
     /* font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif; */
}

@counter-style enumwc {/* 爲 _markdown.scss 的 ol 編號列表定義樣式 1-10 阿拉伯數字 */
  system: fixed;
  symbols: '⓵' '⓶' '⓷' '⓸' '⓹' '⓺' '⓻' '⓼' '⓽' '⓾' '⑪' '⑫' '⑬' '⑭' '⑮' '⑯' '⑰' '⑱' '⑲' '⑳' '㉑' '㉒' '㉓' '㉔' '㉕' '㉖' '㉗' '㉘' '㉙' '㉚' '㉛' '㉜' '㉝' '㉞' '㉟' '㊱' '㊲' '㊳' '㊴' '㊵' '㊶' '㊷' '㊸' '㊹' '㊺' '㊻' '㊼' '㊽' '㊾' '㊿';
  suffix: " ";
    font-weight: bold;
    /* font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif; */
}

@counter-style enumkh {/* 爲 _markdown.scss 的 ol 編號列表定義樣式 1-10 阿拉伯數字 */
  system: fixed;
  symbols: '⑴' '⑵' '⑶' '⑷' '⑸' '⑹' '⑺' '⑻' '⑼' '⑽' '⑾' '⑿' '⒀' '⒁' '⒂' '⒃' '⒄' '⒅' '⒆' '⒇' '㉑' '㉒' '㉓' '㉔' '㉕' '㉖' '㉗' '㉘' '㉙' '㉚' '㉛' '㉜' '㉝' '㉞' '㉟' '㊱' '㊲' '㊳' '㊴' '㊵' '㊶' '㊷' '㊸' '㊹' '㊺' '㊻' '㊼' '㊽' '㊾' '㊿';
  suffix: " ";
    font-weight: bold;
     /* font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif; */
}

@counter-style daynum {/* 爲日期自動添加到每日標題前方 */
 font-weight: bold;
 font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif;
  system: fixed;
  symbols: '㏠' '㏡' '㏢' '㏣' '㏤' '㏥' '㏦' '㏧' '㏨' '㏩' '㏪' '㏫' '㏬' '㏭' '㏮' '㏯' '㏰' '㏱' '㏲' '㏳' '㏴' '㏵' '㏶' '㏷' '㏸' '㏹' '㏺' '㏻' '㏼' '㏽' '㏾';
  suffix: " ";
}

@counter-style monthnum {/* 爲  */
  font-weight: bold;
  font-family: "Noto Sans", "chdot", "Noto Sans KR", "Noto Sans HK", "Noto Sans SC", sans-serif;
  system: fixed;
  symbols: '㋀' '㋁' '㋂' '㋃' '㋄' '㋅' '㋆' '㋇' '㋈' '㋉' '㋊' '㋋';
  suffix: " ";
}

ul {
      list-style: enumbc;
    }

    
ol {
       /*  margin-right: 0; */
       /*  margin-top: 0; */
      /*   margin-left: -1.3em; */
       /* line-height: 12px; */
         /* list-style: none; */
       /* list-style: enumbcw; */
       /* list-style: decimal-leading-zero;     */  
          /* text-align:justify;   */
         /* text-justify:auto;  */
 /*  counter-reset: counter 0;  /* 與正文編號一致，不再從 -1 起計數 */
  list-style: enumbcw;
}
